@model JN_Aplicacion_Proyecto.Entities.ProductoObj

@{
    ViewData["Title"] = "EliminarJuego";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("EliminarJuego", "Producto", FormMethod.Post))
{
<h1>Eliminar Juego</h1>

<h3>¿Desea eliminar este producto?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("ID Producto")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_PRODUCTO)
            @Html.HiddenFor(model => model.ID_PRODUCTO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Tipo de Producto")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_TIPO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Empresa")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Nombre")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Descripción")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Precio")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRECIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Imagen")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMAGE_URL)
        </dd>
    </dl>
    
   <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="ConsultarJuegos">Regresar al Catalogo</a>
    
</div>
}